/* LoginPage.css */

body, html {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5rem;
  background-color: #fff;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 96rem;
  width: 100%;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }
}

.logo-section img {
  height: 100%;
  width: 100%;
}

.login-form {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 2rem;
  width: 100%;
  max-width: 28rem;
  margin-top: 0rem;
  margin-left: 12rem;
  height: 50vh;
}



.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.25rem;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.ms-login-button {
  width: 100%;
  border: 1px solid #2563eb;
  color: #2563eb;
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 100px;
}

.ms-login-button:hover {
  background-color: #eff6ff;
}
